.telaPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:auto;
  min-height:100vh;
  background-color: rgb(151, 171, 214);
  padding: 30px;
}

.titulo {
  color: rgb(33, 31, 48);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.171);
  text-align: center;
  font-size: 2em;
}

.containerAddTarefa {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(96, 123, 163);
  border-radius: 10px;
  width: 60%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.233);
  margin-bottom: 30px;
}


.containerAddTarefa input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 15px;
  outline: none;
  padding:3px;
  border:none;
}

.containerAddTarefa input:hover {
  outline: 3px solid rgb(38, 52, 61);
}

.containerAddTarefa button {
  width: 100%;
  height: auto;
  border-radius: 5px;
  font-size: 1.5em;
  background-color: rgb(41, 43, 66);
  color: whitesmoke;
}

.containerLista {
  width: 60%;
}

.listaTarefas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  background-color: transparent;
  padding: 15px;
  border-radius: 10px;

}

.listaTarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(61, 78, 104);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: whitesmoke;
  width: 100%;
  text-align: left;
}

.listaTarefas li button.btnVerInfo {
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: rgb(32, 50, 73);
}

.listaTarefas li button.btnVerInfo:hover {
  outline: none;
}

.listaTarefas li button.btnDelInfo {
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: rgb(32, 50, 73);
}

.listaTarefas li button.btnDelInfo:hover {
  outline: none;
}


button.lista {
  background-color: rgb(61, 78, 104);
  border: none;
  color: white;
}

.tarefaCompleta {
  background-color: rgb(61, 78, 104);
  border: none;
  text-decoration: line-through;
  color: rgb(224, 107, 107);
}

.tarefaIncompleta {
  background-color: rgb(61, 78, 104);
  border: none;
  color: white;
}

.btnOptions{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
}